* {
    font-family: "Chakra Petch", sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    color: black;
}

:root {
    --first-color-font: rgb(31 41 55);
    --second-color-font: rgb(51 65 81);
    --h3-size: 2em;
}

body {
    background: rgb(245, 245, 245); 
}

main {
    max-width: 900px;
    margin: 0 auto;
}

header {
    position: fixed;
    display: flex;
    justify-content: center;

    height: auto;
    width: 100%;
    
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);

    z-index: 100;

    & nav {
        margin: 0.2% 0;
        display: flex;
        justify-content: center;
        
        background-color: green;
        border-radius: 10px;
        

        

        & a {
            font-size: 1em;
            padding: 0.5em 1.5em;
            display: flex;
            align-items: center;
            gap: 10px;

            text-decoration: none;
            font-weight: 600;
            color: #ffffff;

            & i {
                font-size: 1.2em;
                color: #ffffff;
            }
        }
    }
}

.inicio {
    width: 100%;
    height: 60vh;
    padding-top: 15%;
    margin-bottom: 10%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .text {
        
        & h1 {
            font-size: 75px;
            margin: 0;
            color: #000000;
        }

        & h2 {
            font-size: 40px;
            color: green;
            margin-top: -1%;
            letter-spacing: -1.5px;
        }

        & .buttons-contact {
            margin-top: 4%;
            display: flex;
            gap: 5%;

            & button:hover {
                background-color: rgb(0, 150, 0);
                transition: 200ms;
    
                & a{
                    color: #ffffff;
                    transition: 200ms;
    
                    & i {
                        color: #ffffff;
                        transition: 200ms;
                    }
                }
            }

            & button {
                
                font-size: 20px;
                border: none;
                background-color: #fff;
                padding: 2px 8px;
                border: 1px solid rgb(138, 138, 138);
                border-radius: 10px;
                transition: 200ms;

                & a {
                    text-decoration: none;
                    color: rgb(31 41 55);
                    display: flex;
                    align-items: center;
                    font-size: 1em;
                    font-weight: 600;
                    transition: 200ms;
                    
                    & i {
                        color: #000000;
                        padding-right: 5px;
                        transition: 200ms;
                    }
                }
            }
        }
    }

        & p {
            width: 500px;
            margin-top: 4%;
            font-size: 1.4em;
            color: rgb(51 65 81);
        }

        & .image {

            display: flex;
            flex-direction: column;
            align-items: center;

            & img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
            }
            
        }
    }

.title-seccion {
    display: flex;
    align-items: center;
    margin: 5% 0;

    & i {
        font-size: 40px;
    }

    & h2 {
        font-size: 45px;
        padding-left: 2%;
    }
}

section {
    padding-top: 2.7em;
}

.container-cards-proyects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: stretch;
    justify-items: stretch;
    row-gap: 2%;

    & .card-proyects {
        padding: 30px;
        background-color: #ffffff;
        border-radius: 10px;
        width: 430px;
        display: flex;
        flex-direction: column;

        & .imagen-proyect {  
            width: auto;
            height: 200px;
            border-radius: 5px;   
        }

        & .titulo-link-card-proyect {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2% 0;
            margin-bottom: 5%;

            & h3 {
                font-size: var(--h3-size);
                color: rgb(31 41 55);
            }
    
            & button {
                border: none;
                background-color: #ffffff00;
        
                & a {
                    
                    & i {
                        font-size: 1.8rem;
                    }
                }
            }
        }

        & .tecnologias-logos-proyectos {
            margin-top: 7%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10%;

            & span {

                & img {
                    color: #fff;
                    width: 2.1em;
                    
                }
            }
        }

        & .parrafo-proyect {
            margin-bottom: 6%;
            font-weight: 500;
            font-size: 1.2em;
            width: 90%;
            color: rgb(51 65 81);
            letter-spacing: -1px;
        }
    }
}

.container-tecnologias {
    display: flex;
    justify-content: space-between;
    margin: 10% 0;

    & img {
        width: 4rem;
    }
}

.container-sobre-mi {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .parrafo-sobre-mi {
        width: 550px;
        font-weight: 500;
        font-size: 1.1em;
        line-height: 1.5;
        
        & p {
            margin-bottom: 4%;
            color: rgb(51 65 81);
        }
    }
    
    & img {
        width: 290px;
        border-radius: 10px;
        border: green solid 10px;
        transform: rotate(5deg);
    }
}

.container-principal-certificados {
    display: grid;
    grid-template-columns: 10em 1fr;
}

.linea-black-trayectoria {
    height: auto;
    width: 3px;
    background-color: rgb(199,199,203);
        

    & i {
        color: green;
        font-size: 2.5em;
        margin: 1.7em 0 2.1em -18px;
    }
}

.container-certificados {

    display: flex;
    flex-direction: column;
    
    & article {
        display: flex;
        margin: 1.3em 0;
        

        & img {
            width: 200px;
            height: auto;
            border-radius: 10px;
        }

        & div {
            display: flex;
            flex-direction: column;
            justify-content: center;

            margin-left: 5%;

            & h3 {
                color: var(--first-color-font);
                font-size: var(--h3-size);
                margin-bottom: 5px;
            }

            & p {
                color: var(--second-color-font);
                font-size: 1.3em;
            }
        }
    }
}
